/* color template */

.color-primary {
  color: $color-primary;
}

.color-primary-bg {
  background: $color-primary;
}

.color-second {
  color: $color-second;
}

.color-second-bg {
  background: $color-second;
}

.color-third-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 83, 114, 0.75) 0%,
    rgba(255, 169, 51, 0.75) 100%
  );
  backdrop-filter: blur(20px);
}

.color-red {
  color: $color-red;
}

.color-red-bg {
  background: $color-red;
}

.color-btn {
  color: white;
  border-color: white;
}

.color-btn:hover {
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;
}
