$font-raleway: "Raleway", cursive;
$font-montserrat: "Montserrat", cursive;
$font-pacifico: "Pacifico", cursive;
$font-poppins: "Poppins", cursive;
$color-primary: #ff5372;
$color-second: #ffa933;
$color-red: #ff472e;
